<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codaxy.Xlio" version="0.8.8" />
  <package id="ExcelDataReader" version="2.1" />
  <package id="LinqToExcel" version="1.6.0" />
  <package id="SharpZipLib" version="0.86.0" />
  <package id="TakeIo.Spreadsheet" version="1.0.0.9" />
</packages>